._*
tmp/
.idea/
data/
ejercicios/
tema1/
tema2/
tema3/
tema4/
tema5/
tema[1-9]/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.so
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
